apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "certificate-ui.fullname" . }}-ansible
data:
  playbook.yml: |
{{ .Values.ansible.playbook | indent 4 }}

  inventory: |
{{ .Values.ansible.inventory | indent 4 }}
