apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "certificate-ui.fullname" . }}-ansible
data:

  ####################################################################
  # PLAYBOOK GROUP: wildcard
  # ansible.selected = wildcard
  ####################################################################
  wildcard-playbook.yml: |
    - hosts: localhost
      connection: local
      gather_facts: false
      tasks:
        - debug:
            msg: "Wildcard cert updated"

  wildcard-inventory: |
    [localhost]
    127.0.0.1


  ####################################################################
  # PLAYBOOK GROUP: abc
  # ansible.selected = abc
  ####################################################################
  abc-playbook.yml: |
    - hosts: localhost
      connection: local
      gather_facts: false
      tasks:
        - debug:
            msg: "ABC cert updated"

  abc-inventory: |
    [localhost]
    127.0.0.1


  ####################################################################
  # PLAYBOOK GROUP: xyz
  # ansible.selected = xyz
  ####################################################################
  xyz-playbook.yml: |
    - hosts: localhost
      connection: local
      gather_facts: false
      tasks:
        - debug:
            msg: "XYZ cert updated"

  xyz-inventory: |
    [localhost]
    127.0.0.1


  ####################################################################
  # PLAYBOOK GROUP: pod-test
  # ansible.selected = pod-test
  # Purpose: TCP connectivity check to application pod
  ####################################################################
  pod-test-playbook.yml: |
    - hosts: localhost
      connection: local
      gather_facts: false

      vars:
        target_pod_ip: 10.42.0.232
        target_port: 80

      tasks:
        - name: Check TCP connectivity to pod
          wait_for:
            host: "{{ "{{ target_pod_ip }}" }}"
            port: "{{ "{{ target_port }}" }}"
            timeout: 5
          delegate_to: localhost
