apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "certificate-ui.fullname" . }}-ansible
data:
  playbook.yml: |
{{ index .Values.ansible.playbooks .Values.ansible.selected "playbook" | indent 4 }}

  inventory: |
{{ index .Values.ansible.playbooks .Values.ansible.selected "inventory" | indent 4 }}
