apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: certificate-ui
  namespace: certificate-ui
spec:
  project: default
  source:
    repoURL: 'https://github.com/aydincakfirat/certificate-automation'
    targetRevision: HEAD
    path: helm-charts/certificate-ui
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
